version: '3.8'

services:
  mysql:
    build: ./mysql
    container_name: mysql-db
    environment:
      MYSQL_ROOT_PASSWORD: StrongRootPassword!2025
      MYSQL_DATABASE: hotel_management
    ports:
      - "3306:3306"
    networks:
      - hotel-network

  backend:
    build: ./backend
    container_name: backend
    ports:
      - "5000:5000"
    environment:
      PORT: 5000
      DB_HOST: mysql-db
      DB_USER: root
      DB_PASSWORD: StrongRootPassword!2025
      DB_NAME: hotel_management
    depends_on:
      - mysql
    networks:
      - hotel-network

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend
    networks:
      - hotel-network

networks:
  hotel-network:
    driver: bridge